#logoprosa {
    width: 82px;
    height: 86px;
}

#divlogo {
    text-align: left;
}

li {
    list-style: none;
}

#nave a{
    text-decoration: none;
    color: #926b2c;
    
}

#nave ul {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#teste {
    position: absolute;
    top: 6%;
    right: 2%;
}

#teste a {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#linha-vertical {
    position: absolute;
    right: 15%;
    top: 1%;
    height: 88px;
    border-left: 1px solid;
}

#footer {
    text-align: center;
}

#imgmenu {
    width: 46px;
    height: 46px;
}

.mainmenubtn {
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
    
}

.mainmenubtn:hover {
    background-color: rgb(255, 255, 255);

}

.dropdown {
    position: absolute;
    right: 1.5%;
    top: 3%;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: rgb(236, 183, 8);
    min-width: 25px;

}

.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

@media screen and (max-width: 900px) {
    .dropdown {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .dropdown button {
        margin-right: 10px;
        background-color: transparent;
        border: none;
    }

    .dropdown img {
        width: 30px; /* Ajuste o tamanho conforme necessário */
        height: auto; /* Mantém a proporção */
    }

    .dropdown-child {
        position: absolute;
        top: calc(100% + 5px); /* Posiciona o submenu abaixo do botão */
        right: 0;
        background-color: rgb(236, 183, 8);
        min-width: 150px;
        display: none;
    }

    .dropdown:hover .dropdown-child {
        display: block;
    }

    .mainmenubtn img {
        vertical-align: middle; /* Alinha verticalmente a imagem */
    }

    .mainmenubtn {
        width: auto; /* Definindo a largura como automática */
        padding: 0; /* Removendo o preenchimento interno */
        margin-right: 10px; /* Adicionando margem à direita */
    }
}